.vfrc-widget {
  position: fixed;
  inset: 0px;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  z-index: 10000;
}

.vfrc-widget--launcher {
  right: 25px;
  bottom: 25px;
}

.vfrc-footer--watermark {
  display: none !important;
}

.vfrc-footer {
  padding: 1rem;
}

@media (max-width: 1023px) {
  .vfrc-proactive {
    display: none;
  }
}
